body {
  background-color: black;
  font-family: Verdana, sans-serif;
  color: gray;
  font-size: 21px;
  text-align: center;
}
h1 {
  font-size: 50px;
  color: white;
  text-align: center;
}

h2 {
  font-weight: 300;
  font-size: 42px;
  color: white;
}

a {
  color: aquamarine;
  font-size: 16px;
}

#copyright {
  text-align: right;
}
